html{
    font-size: 62.5%;
    background: darken($secondary, 70%);
}


.wrapper {
    // position: relative;
    perspective: 500px;
    height:100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    position: absolute;
    top:20px;
    left:0;
    width:100%;
    text-align: center;
    color: $white;
    text-shadow: 2px 2px 20px $accent;
    font-size: 4rem;
    animation: flicker 7s infinite;
}

@keyframes flicker {
    0%,
    13%,
    15%,
    49%,
    51%,
    53% {
        text-shadow: 2px 2px 20px $accent;
        }
    14%,
    50%,
    52% {
        text-shadow: none;

    }
}

h2 {
    font-size: 5rem;
    margin: 0;
}

p,
li,
label {
    font-size: 1.6rem;
}

a {
    display: inline-block;
}
.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}


.hide {
    display:none;
}

.show{
    display: block;
}