.rulesModal,
.winScreen {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: $primary;
	color: $white;
	border-radius: 10px;
	border: 2px solid $accent;
	box-shadow: 0px 0px 0px 5px $primary;
	width: 70%;
	max-width: 1000px;
	height: 80%;
	overflow-y: scroll;
	text-align: center;
}

.winScreen {
	top: 200px;
	height: 250px;
	width: 40%;
}

.basicRulesList,
.advancedRulesList {
	display: none;
	text-align: left;
}

.leftRadio,
.rightRadio {
	opacity: 0;
	width: 0px;
	height: 0px;
	margin: 0;
}

.leftRadio:focus ~ .leftRadioLabel,
.rightRadio:focus ~ .rightRadioLabel {
	outline: 2px $accent dotted;
}

.rulesRadioInput:focus ~ .rightRadioLabel:after {
	position: absolute;
	border-radius: 5px;
	padding: 5px;
	border: 2px dotted $black;
	left: 5px;
	top: 5px;
	width: 100px;
	background: $accent;
	content: "If using keyboard, left & right arrow keys will switch ruleset";
}

.rulesRadio {
	@include buttonStyle;
}
.leftRadioLabel {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	display: inline-block;
	width: 100px;
	text-align: right;
}

.rightRadioLabel {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	display: inline-block;
	width: 100px;
	text-align: left;
}

.leftRadio:checked ~ .leftRadioLabel,
.rightRadio:checked ~ .rightRadioLabel {
	@include buttonActive;
}

.leftRadio:checked ~ .basicRulesList {
	display: block;
}

.leftRadio:checked ~ .advancedRulesList {
	display: none;
}

.rightRadio:checked ~ .basicRulesList {
	display: none;
}

.rightRadio:checked ~ .advancedRulesList {
	display: block;
}

.letsPlay {
	@include buttonStyle;
}

.letsPlay:active {
	@include buttonActive;
}

.winScreen {
	display: none;
}

.rulesButton,
.closeRules,
.deal,
.hit,
.stay,
.playAgain {
	@include buttonStyle;
	position: relative;
	z-index: 1;
}
.rulesButton:active,
.closeRules:active,
.deal:active,
.hit:active,
.stay:active,
.playAgain:active {
	@include buttonActive;
}

button:focus {
	outline: 2px $accent dotted;
}

.closeRules {
	position: absolute;
	top: 10px;
	right: 10px;
}

.hit,
.stay,
.deal,
.rulesButton {
	position: absolute;
	top: -50px;
	width: 40%;
	box-shadow: inset -4px -2px 3px darken($accentDarker, 40%),
		3px 3px 3px darken($primary, 20%);
}

.stay {
	left: 50%;
}

@include mq600 {
	.hit,
	.stay,
	.deal {
		width: 37%;
	}

	.hit,
	.deal {
		left: 20%;
	}

	.stay {
		right: 0;
		left: auto;
	}
}

.deal {
	top: -100px;
}

.rulesButton {
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: inset 5px -2px 3px darken($accentDarker, 40%),
		3px 3px 3px darken($primary, 20%);

	@include mq740 {
		box-shadow: inset -4px -2px 3px darken($accentDarker, 40%),
			3px 3px 3px darken($primary, 20%);
	}

	@include mq600 {
		left: 0;
		transform: none;
	}
}

.animatingOut {
	animation: hideMe 0.8s;
}

.animatingIn {
	animation: showMe 0.8s forwards;
}

@keyframes hideMe {
	0% {
		@include buttonActive;
	}
	50% {
		line-height: 0;
		padding: 10px 0;
		color: transparent;
		// box-shadow: inset 20px 20px 1px 1px black;
	}

	60% {
		box-shadow: inset 50px 80px 1px 1px black;
	}
	61% {
		background: $primary;
	}
	70% {
		box-shadow: inset 20px 20px 1px 1px black;
	}
	100% {
		@include buttonStyle;
		background: transparent;
		box-shadow: none;
		color: transparent;
	}
}

@keyframes showMe {
	0% {
		@include buttonStyle;
		background: transparent;
		box-shadow: none;
		color: transparent;
	}
	50% {
		border-right: 100% solid $primary;
		padding: 10px 0;
		color: transparent;
		// box-shadow: inset 20px 20px 1px 1px black;
	}

	60% {
		box-shadow: inset 20px 80px 1px 1px black;
		background: $primary;
	}
	61% {
		@extend .deal;
		box-shadow: inset 20px 80px 1px 1px black;
	}

	80% {
		box-shadow: inset 20px 20px 1px 1px black;
		color: transparent;
		line-height: 0;
		font-size: 0;
	}
	100% {
		@extend .deal;
		color: black;
	}
}
