// variables
// $primary: #931806;
$primary: #446455;
$secondary: #d3dddc;
$tertiary: #c7b19c;
$accent: #fdd262;
$accentDarker: #f2c146;
$dark: #444C49;
// $bright: #56A2A7;
$black: #232323;
$white: #FAFAFA;

:root {
    --primary: 446455;
    --secondary-color: white;
    --text-color: black; 
}

$headingStack: "Abril Fatface", cursive;
$bodyStack: "Montserrat", sans-serif;


//mixins
@mixin flexRow($justify: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: center;
}

@mixin flexCol($align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $align;
    align-items: center;
}

@mixin buttonStyle {
    background: linear-gradient($accent 70%, darken($accentDarker, 30%) 90%);
    box-shadow: inset 0 0 5px 2px lighten($accent, 10%), 0 0 4px darken($primary, 10%);
    color: darken($dark, 10%);
    padding: 10px;
    border-radius: 10px;
    border:none;
    font-size: 1.5rem;
    height: 3.7rem;
}

@mixin buttonActive {
    background: linear-gradient($accentDarker 40%, $accent 60%);
    box-shadow: inset 0 0 5px 3px darken($accentDarker, 40%), 0 0 3px darken($primary, 10%);
    color: darken($dark, 10%);
    border: 1px solid black;
}

@mixin cardBack {
    background: radial-gradient(
    $primary 10%, 
    $white 10%,
    $white 12%,
    $primary 12%,
    $primary 22%, 
    $white 22%,
    $white 24%,
    $primary 24%,
    $primary 34%,
    $white 34%,
    $white 36%,
    $primary 36%,
    $primary 46%,
    $white 46%,
    $white 48%,
    $primary 48%,
    $primary 58%,
    $white 58%,
    $white 60%,
    $primary 60%,
    $primary 70%,
    $white 70%,
    $white 72%,
    $primary 72%,
    $primary 82%,
    $white 82%,
    $white 84%,
    $primary 84%,
    $primary 94%,
    $white 94%,
    $white 96%,
    $primary 96%
    );
}

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900&display=swap');


//media query mixins
@mixin mq950 {
    @media (max-width:950px) {
        @content;
    }
}
// major break
@mixin mq740 {
    @media (max-width: 740px) {
        @content;
    }
}

@mixin mq680 {
    @media (max-width: 680px) {
        @content;
    }
}


@mixin mqh510 {
    @media (max-height: 580px) {
        @content;
    }
}